Manifest.toml
**/.DS_Store
# *.png
docs/build/
readme.jl

references/

# TMP for testing
src/evolve_simple.jl
append_example.jl
append_large_vectors.jl
validation/ode/logistic/df_example.jl
continuous_coefficients.jl
sense_benchmark.jl

# testing extensions
ext/RKMFeaginExt.jl
ext/RKMInteractiveUtilsExt.jl

# testing sensitivity
green_expand.jl

# not sure whether to push yet
CLAUDE.md

# unrelated
coffee_yield.jl